streamlit
pandas
pillow
numpy==1.26.4
langchain>=0.2.10
langchain-openai>=0.1.7
langchain-community>=0.2.10
langchain-chroma>=0.1.0
chromadb>=0.5.5
faiss-cpu>=1.8.0
pypdf
python-docx
mammoth
pytesseract
textract
pysqlite3-binary>=0.5.2
six>=1.16.0
opencv-python-headless>=4.10.0
scikit-image>=0.24.0
